/Debug/
/Debug/**
/Debug/*/**
/Release/**
/Release/*/**
/libOBJect.vs/.vs
/libOBJect.vs/*.VC.*
.DS_Store
/DerivedData/
libOBJect.xcodeproj/xcuserdata/
libOBJect.xcodeproj/project.xcworkspace/xcuserdata/
